* {
  box-sizing: border-box;
}
:root {
  --light-blue: rgb(110, 110, 236);
  --light-blue-hover: rgb(96, 96, 221);
  --light-gray: rgb(240, 240, 240);
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.body--dark {
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --------------------- */
/* -- NAVIGATION BAR -- */
/* --------------------- */

.navigation-bar {
  background-color: rgb(29, 214, 196);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  font-size: 21px;
  font-weight: bold;
  box-shadow: 0 0 5px 3px rgb(74, 140, 202);
}
.navigation-bar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation-bar__logo > img {
  width: 81px;
}
.navigation-bar__logo > span {
  font-weight: bold;
}
.navigation-bar__icon {
  width: 35px;
  position: absolute;
  right: 250px;
  top: 22px;
  cursor: pointer;
}
.navigation-bar__icon--dark {
  filter: brightness(100%) contrast(100%);
}
.navigation-bar__links {
  list-style-type: none;
  display: flex;
}
.navigation-bar__links li {
  margin-left: 25px;
}
.navigation-bar--dark {
  background-color: transparent;
}

@media screen and (max-width: 850px) {
  .navigation-bar {
    font-size: 17px;
  }
  .navigation-bar__logo > img {
    width: 65px;
  }
  .navigation-bar__icon {
    width: 28px;
    top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .navigation-bar__icon {
    right: 180px;
  }
  .navigation-bar {
    padding: 5px 10px;
  }
  .navigation-bar__links li {
    margin-left: 15px;
  }
}
@media screen and (max-width: 550px) {
  .navigation-bar {
    font-size: 14px;
  }
  .navigation-bar__logo > img {
    width: 60px;
  }
  .navigation-bar__links {
    padding: 0;
  }
  .navigation-bar__icon {
    width: 23px;
    top: 17px;
    right: 145px;
  }
}

/* ----------------- */
/* --- HOMEPAGE --- */
/* ----------------- */

.home {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.home > h1 {
  margin: 35px 0 35px;
}
.home > p {
  padding: 0 130px;
  font-weight: bold;
  font-size: 16.5px;
  margin-bottom: 45px;
}
.home__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home__gallery > img {
  width: 40%;
  box-shadow: 0 0 4px 1px rgb(121, 121, 121);
}
.home > button {
  background-color: rgb(110, 110, 236);
  box-shadow: 2px 2px 4px rgb(87, 87, 87);
  border: none;
  border-radius: 21px;
  padding: 15px 40px;
  margin: 40px 0;
  color: white;
  font-weight: bold;
  font-size: 19px;
}
.home > button:hover {
  cursor: pointer;
  background-color: rgb(96, 96, 221);
}

@media screen and (max-width: 850px) {
  .home {
    width: 100%;
  }
  .home > p {
    padding: 0 60px;
  }
}
@media screen and (max-width: 670px) {
  .home h1 {
    font-size: 28px;
  }
  .home > p {
    font-size: 15px;
  }
  .home__gallery > img {
    width: 44%;
  }
  .home > button {
    font-size: 17px;
    padding: 12px 28px;
  }
}
@media screen and (max-width: 550px) {
  .home > p {
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .home__gallery {
    flex-direction: column;
    align-items: center;
  }
  .home__gallery > img {
    margin: 0 0 20px;
    width: 55%;
  }
  .home > button {
    margin: 13px 0 30px;
  }
}
@media screen and (max-width: 425px) {
  .home__gallery > img {
    width: 68%;
  }
}

/* ----------------------- */
/* -- GIFS GALLERY PAGE -- */
/* ----------------------- */

.gallery {
  text-align: center;
}
.gallery h1 {
  font-size: 25.5px;
  margin: 30px 0 20px;
}
.gallery__list {
  list-style-type: none;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery__list > li {
  box-shadow: 0 0 4px 1px rgb(121, 121, 121);
  border-radius: 8px;
  width: 40%;
  padding: 0px 0 15px;
  margin: 20px 0;
  overflow: hidden;
  cursor: pointer;
}
.gallery__list > li > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery__list__user {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__list__user > img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 8px;
  background-color: white;
}
.gallery__pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 215px;
  margin: 15px auto 30px;
}
.gallery__pagination > button {
  background-color: var(--light-blue);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  width: 35px;
  height: 35px;
  margin: 0;
}
.gallery__pagination > button:hover {
  cursor: pointer;
  background-color: var(--light-blue-hover);
}
button.gallery__pagination--selected {
  background-color: rgb(253, 150, 32);
}
button.gallery__pagination--selected:hover {
  background-color: rgb(241, 142, 28);
}

@media screen and (max-width: 770px) {
  .gallery__list {
    width: 98%;
  }
  .gallery__list > li {
    width: 47%;
  }
}
@media screen and (max-width: 575px) {
  .gallery__list > li {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .gallery h1 {
    font-size: 22px;
  }
  .gallery__list > li {
    width: 85%;
  }
  .gallery__list > li > img {
    height: 210px;
  }
  .gallery__list__user {
    font-size: 14px;
  }
  .gallery__list__user > img {
    width: 22px;
    height: 22px;
  }
}

/* ----------------------- */
/* -- GIFS DETAILS PAGE -- */
/* ----------------------- */

.gif-details-container {
  display: flex;
  justify-content: space-evenly;
}

.gif-details {
  width: 70%;
  max-width: 1200px;
  padding: 0 25px;
  margin: 20px auto;
  text-align: center;
}
.gif-details h1 {
  margin: 32px 0 0;
}
.gif-details > span:first-of-type {
  display: block;
  font-weight: bold;
  margin: 5px 0 30px;
}
.gif-details > a > img {
  height: 400px;
  max-width: 90%;
  object-fit: contain;
}
.gif-details__user {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 21px;
  font-family: 'Courier New', Courier, monospace;
}
.gif-details__user > a > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  object-fit: cover;
}
.gif-details__user > span {
  position: relative;
}
.gif-details__user--checked {
  width: 14px;
  height: 14px;
  position: absolute;
  right: -22px;
  top: -3px;
}
.gif-details__dates {
  margin-top: 15px;
  margin-bottom: 0;
}
.gif-details__dates > span {
  display: block;
  font-size: 15.5px;
}

@media screen and (max-width: 1100px) {
  .gif-details h1 {
    font-size: 27px;
  }
  .gif-details > a > img {
    height: 340px;
  }
  .gif-details__user {
    font-size: 20px;
  }
  .gif-details__user > a > img {
    width: 37px;
    height: 37px;
  }
}
@media screen and (max-width: 950px) {
  .gif-details-container {
    flex-direction: column;
  }
  .gif-details {
    width: 90%;padding-bottom: 35px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  .gif-details {
    width: 97%;
  }
}
@media screen and (max-width: 580px) {
  .gif-details {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  .gif-details > a > img {
    height: 240px;
    max-width: 97%;
  }
}
@media screen and (max-width: 500px) {
  .gif-details h1 {
    font-size: 23px;
  }
  .gif-details > span {
    font-size: 14px;
  }
  .gif-details__user {
    font-size: 17.5px;
  }
  .gif-details__user--checked {
    width: 12px;
  }
  .gif-details__dates > span {
    font-size: 13px;
  }
}
@media screen and (max-width: 425px) {
  .gif-details h1 {
    font-size: 21px;
  }
  .gif-details > a > img {
    height: 200px;
  }
}

/* --COMMENT SECTION-- */

.comment-section {
  width: 30%;
  padding: 0 3%;
  margin-top: 45px;
  text-align: center;
}
.comment-section__form > textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
  resize: none;
}
.comment-section__form > button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 6px;
  margin: 10px 0 35px auto;
  padding: 8px 18px;
  display: block;
  color: white;
  font-weight: bold;
}
.comment-section__form > button:hover {
  background-color: var(--light-blue-hover);
  cursor: pointer;
}
.comment-section__form--dark > textarea {
  background-color: var(--light-gray);
}
.comment-section__list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0 auto 20px;
}
.comment-section__list > li {
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 7px;
  margin: 10px 0;
  overflow: hidden;
}
.comment-section__list > li > span {
  display: block;
}
.comment-section__list > li > span:first-of-type {
  padding: 2px 10px 2px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
.comment-section__list > li > span:nth-of-type(2) {
  background-color: white;
  padding: 7px 9px;
  text-align: left;
  color: black;
}
.comment-section__list--dark > li {
  background-color: rgb(112, 112, 112);
}
.comment-section__list--dark > li > span:nth-of-type(2) {
  background-color: var(--light-gray);
}

@media screen and (max-width: 1150px) {
  .comment-section {
    padding: 0 18px;
  }
}
@media screen and (max-width: 950px) {
  .comment-section {
    width: 88%;
    max-width: 460px;
    margin: -5px auto 20px;
  }
}
@media screen and (max-width: 500px) {
  .comment-section h2 {
    font-size: 21px;
  }
}
